.education-section {
  padding: 30px 20px;
  background-color: var(--background-secondary);
  line-height: 1.6;
  
  color: var(--text-color-primary);
  overflow: hidden;
  position: relative;
}

.education-section h2 {
  color: var(--accent-color);
  font-size: 2.8em;
  margin-bottom: 70px;
  transition: transform 0.3s ease;
}

.education-section h2:hover {
  transform: translateY(5px) scale(1.1);
}

.education-section p {
  max-width: 800px;
  margin: 0 auto;
  color: var(--accent-color);
  margin-top: 10%;
}

.education-title {
  text-align: center;
  font-size: 3.5em; 
  margin-bottom: 60px; 
  color: var(--text-color-primary);
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  z-index: 10; 
}

.education-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

.education-item {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: var(--background-secondary);
  border-radius: 15px;
  box-shadow: 0 4px 10px var(--shadow-dark);
  position: relative;
  overflow: hidden;
  min-height: 250px; 
  transition: transform 0.3s ease;
}

.education-item:hover {
  transform: translateY(-8px);
}

.education-item-left {
  margin-right: 20%; 
  border-left: 5px solid var(--accent-color); 
}

.education-item-right {
  margin-left: 20%; 
  border-right: 5px solid var(--accent-color); 
}

.education-content {
  flex: 1;
  z-index: 2; 
  position: relative;
}

.education-content h3 {
  color: var(--text-color-primary);
  font-size: 1.8em;
  margin-bottom: 15px;
}

.education-content ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.education-content li {
  color: var(--text-color-secondary);
  margin-bottom: 8px;
  font-size: 1.1em;
  position: relative;
  padding-left: 20px; 
}

.education-content li::before {
    content: '\2022'; 
    color: var(--accent-color); 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 0;
}

.education-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-item-left .education-background {
  justify-content: flex-end; 
  padding-right: 50px; 
}

.education-item-right .education-background {
  justify-content: flex-start; 
  padding-left: 50px; 
}

.education-logo {
  max-width: 380px; 
  max-height: 380px;
  opacity: 0.15; 
  position: absolute;
  filter: grayscale(100%) brightness(150%); 
  z-index: 0;
}

.education-item-left .education-logo {
    right: 70px;
}
.education-item-right .education-logo {
    right: 0px; 
}


.background-text {
  font-size: 8em; 
  color: var(--shadow-darker); 
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  white-space: nowrap; 
  pointer-events: none; 
  z-index: 1;
}

.education-item-left .background-text {
    left: 20px; 
}
.education-item-right .background-text {
    left: 10px; 
}


@media (max-width: 900px) {
  .education-item-left,
  .education-item-right {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column; 
    text-align: center;
    padding: 0px;
    min-height: auto;
  }

  .education-content {
      text-align: center;
  }

  .education-background {
    position: absolute; 
    margin-top: 0px; 
    flex-direction: column;
  }
  .education-logo, .background-text {
      position: static;
      margin: 0 auto;
      transform: none;
  }
  .background-text {
      font-size: 4em; 
      opacity: 0.4; 
  }
  .education-logo {
      max-width: 100px;
      max-height: 100px;
  }
}

@media (max-width: 600px) {
    .education-title {
        font-size: 2.5em;
    }
}