.floating-navbar {
  position: fixed; 
  left: 20px; 
  top: 50%;
  transform: translateY(-50%); 
  z-index: 1000; 
  background-color: transparent; 
  padding: 0;
  box-shadow: none;
}

.floating-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.floating-navbar li {
  margin: 8px 0; 
}

.floating-navbar button {
  background-color: var(--card-background); 
  border: none;
  color: var(--text-color-secondary); 
  font-size: 1.8em;
  cursor: pointer;
  padding: 12px; 
  border-radius: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--shadow-dark); 
  width: 50px; 
  height: 50px;
}

.floating-navbar button:hover {
  color: var(--accent-color);
  background-color: var(--background-primary); 
  transform: scale(1.1); 
  box-shadow: 0 4px 15px var(--shadow-darker); 
}

.floating-navbar button i {
  margin: 0;
}

.navbar-label {
  position: absolute;
  left: 100%; 
  white-space: nowrap;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6em;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, left 0.3s ease, transform 0.3s ease;
  margin-left: 15px; 
  top: 50%;
  transform: translateY(-50%);
}

.floating-navbar button:hover .navbar-label {
  opacity: 1;
  left: calc(100% + 15px);
  transform: translateY(-50%) translateX(0); 
}


@media (max-width: 900px) {
  .floating-navbar {
    left: 10px;
    display: none;
  }
  .floating-navbar button {
    font-size: 1.5em;
    padding: 10px;
    width: 45px;
    height: 45px;
  }
  .navbar-label {
    font-size: 0.5em;
    margin-left: 10px;
    left: calc(100% + 10px);
  }
  .floating-navbar button:hover .navbar-label {
    left: calc(100% + 10px);
  }
}


@media (max-width: 768px) {
  .floating-navbar {
    left: 5px; 
    top: 50%;
    transform: translateY(-50%);
  }
  .floating-navbar ul {
    flex-direction: column; 
  }
  .floating-navbar button {
    font-size: 1.2em; 
    width: 40px;
    height: 40px;
  }
  .navbar-label {
      display: none; 
  }
}