.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    z-index: 1000;
    transition: opacity 0.5s ease-out; 
}

.my-name {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic; 
    color: transparent; /* Hace que el texto sea transparente */
    text-shadow: none; /* Asegura que no haya sombras */
    -webkit-text-stroke: 1px #f0f0f0; /* Crea el contorno */
    animation: fillText 2s ease-in-out forwards;
}

.loading-message {
    font-size: 1.5rem;
    color: #b0b0b0; 
    text-align: center;
    padding: 0 20px;
    opacity: 0;
}

.loading-messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    text-align: center;
    opacity: 0;
}

.job-title-loading {
    font-size: 1.2rem;
    color: #b0b0b0; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loading-messages-container.fade-in {
    animation: fadeIn 0.8s ease-in-out forwards 0.5s;
}

.loading-messages-container.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.loading-message-es {
    font-size: 1.5rem;
    font-weight: bold; 
    color: #f0f0f0;
}

.loading-message-en {
    font-size: 1.2rem;
    font-style: italic; 
    color: #b0b0b0;
}

.loading-message.fade-in {
    animation: fadeIn 0.8s ease-in-out forwards 0.5s;
}

.loading-message.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 50%;
    animation: dot-pulse 1.2s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dot-pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fillText {
    0% {
        -webkit-text-stroke: 1px #f0f0f0;
        color: transparent;
    }
    100% {
        -webkit-text-stroke: 0px transparent;
        color: #f0f0f0;
    }
}