.projects-section {
  padding: 40px 20px;
  background-color: var(--background-secondary); 
  color: var(--text-color-primary);
  text-align: center;
}

.projects-section h2 {
  color: var(--accent-color);
  font-size: 2.8em;
  margin-bottom: 70px;
  transition: transform 0.3s ease;
}

.projects-section h2:hover {
  transform: translateY(5px) scale(1.1);
}

.projects-section p {
  max-width: 800px;
  margin: 0 auto;
  color: var(--background-secondary);
  margin-top: 5%;
}

.projects-title {
  font-size: 3.5em;
  margin-bottom: 60px;
  color: var(--text-color-primary); 
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  z-index: 10;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  display: flex; 
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px var(--shadow-dark); 
  background-color: var(--card-background); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px var(--shadow-darker);
}

.project-image-wrapper {
  position: relative;
  width: 100%;
  height: 250px; 
  overflow: hidden; 
}

.project-image-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease-in-out; 
  filter: grayscale(100%) brightness(150%); 
}

.project-card:hover .project-image-background {
  transform: scale(1.1); 
}

.project-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8); 
  font-size: 2.5em; 
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px var(--shadow-dark); 
  pointer-events: none; 
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 1;
}

.project-card:hover .project-image-text {
  transform: translate(-50%, -50%) scale(1.05); 
}


.project-info-visible {
  padding: 20px;
  text-align: left; 
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info-visible h3 {
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 10px;
  color: var( --accent-color); 
}

.project-info-visible p {
  font-size: 0.95em;
  margin-bottom: 15px;
  color: var(--text-color-secondary); 
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start; 
  margin-top: 15px;
  margin-bottom: 20px;
}

.tech-tag {
  background-color: var(--accent-color); 
  color: var(--text-color-light); 
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 5px var(--shadow-dark);
}

.project-view-button {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color); 
  color: var(--text-color-light); 
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none; 
  font-weight: bold;
  font-size: 0.9em;
  margin-top: auto; 
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px var(--shadow-dark);
  align-self: flex-start; 
}

.project-view-button i {
  margin-left: 10px; 
  font-size: 1.1em;
}

.project-view-button:hover {
  background-color: var(--accent-color-dark); 
  transform: translateY(-3px); 
  box-shadow: 0 6px 15px var(--shadow-darker);
}

/* Responsividad */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .projects-title {
    font-size: 2.5em;
  }
  .project-image-text {
    font-size: 1.8em; 
  }
  .project-view-button {
    font-size: 0.85em; 
    padding: 8px 15px;
  }
}