:root,
body.dark {
  --background-primary: #121212;
  --background-secondary: #1E1E1E;
  --card-background: #2C2C2C;
  --accent-color: #00ADB5;
  --accent-color-dark: #00828A;
  --text-color-primary: #EEEEEE;
  --text-color-secondary: #A0A0A0;
  --text-color-light: #FFFFFF;
  --border-color: #3A3A3A;
  --shadow-light: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.4);
  --shadow-darker: rgba(0, 0, 0, 0.6);
}

body.light {
  --background-primary: #F0F0F0; 
  --background-secondary: #FFFFFF; 
  --card-background: #E0E0E0; 
  --accent-color: #3F51B5; 
  --accent-color-dark: #2C3E9C; 
  --text-color-primary: #333333; 
  --text-color-secondary: #666666; 
  --text-color-light: #FFFFFF; 
  --border-color: #CCCCCC; 
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --shadow-darker: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  color: var(--text-color-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
